# virtual environments
.venv/
venv/

# Python bytecode
*.pyc
__pycache__/

# log files
*.log

# protected raw data
data/raw/*
!data/raw/.gitkeep
# processed csv
data/processed/cleaned_data.csv

#experimental notebooks and scripts
notebooks/local_experimental/*
src/local_development/*